
<!-- 注意：this template (or view) displays a contact list and also includes the contact-details template-->

<div class="row">
  <div class="col-md-5">
    <h2>Contacts</h2>

    <ul class="list-group">
<!-- 使用指令ngFor 从当地变量contacts（数组）提取单个对象，然后使用插值绑定{{contact.name}},
     渲染到模板. 同时使用事件绑定（click）="selectContact(contact)"-->
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
        {{contact.name}}
      </li><!--当表达式（contact === selectedContact）true时，angular添加一个CSS类 .active,  false时，移除.actice类-->
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>

  </div>
  <!--当点击contact对象，或者点击Botton键，都会最终赋值 变量（属性）selectedContact-->


   <!--此部分图示是用来显示click事件 激发的某个contact detail-->
  <div class="col-md-5 col-md-offset-2">
    <!-- 另一个组件（contact-details)图示的嵌套
    The contact-details template allows users to 
    create(post), view(get）, modify（update), and delete(del) 
    contacts from the contact list -->
    <app-contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
   </app-contact-details>   <!--核心！用 [属性绑定]  将父组件内的变量属性和方法 绑定到 子组件内的属性和方法（input 外部属性）
                        从而导致 父组件内属性随着子组件变更而变更  -->
  </div>
</div>